<a href="https://colab.research.google.com/github/carterrees/hacker/blob/master/Domian_LiveProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import gzip
import pandas as pd
from urllib.request import urlopen
from io import StringIO

In [0]:

url = urlopen('https://liveproject-resources.s3.amazonaws.com/116/other/stackexchange_812k.csv.gz')
f = gzip.open(url, 'rb')
file_content = f.read()
f.close()
s=str(file_content,'utf-8')
data = StringIO(s) 
df=pd.read_csv(data)

In [17]:
df.head()

   post_id  ...  category
0        1  ...     title
1        2  ...     title
2        3  ...     title
3        4  ...     title
4        6  ...     title

[5 rows x 5 columns]

In [18]:
df.tail()

        post_id  ...  category
812127   279994  ...   comment
812128   279998  ...   comment
812129   279998  ...   comment
812130   279999  ...   comment
812131   279999  ...   comment

[5 rows x 5 columns]

In [21]:
df['parent_id'].value_counts()

726.0       79
423.0       40
1337.0      38
4551.0      34
5115.0      24
            ..
336589.0     1
336581.0     1
84145.0      1
21036.0      1
288199.0     1
Name: parent_id, Length: 59471, dtype: int64